html,
body {
  overflow-x: hidden;
}

.custom .MuiButton-containedPrimary,
.custom .MuiAvatar-root {
  background-color: #006400 !important;
  color: #7fffd4 !important;
}

.MuiContainer-root .list-page .MuiPaper-root:first-of-type,
.show-page .MuiPaper-root {
  box-shadow: 0px 8px 15px -9px rgb(0 0 0 / 20%), 0px 24px 30px 15px rgb(0 0 0 / 2%), 0px 9px 46px 8px rgb(0 0 0 / 1%);
}

.list-page {
  margin: 0 300px;
}

.list-page,
.show-page {
  padding-bottom: 45px;
}

.MuiTableCell-head.MuiTableCell-root {
  font-size: 1.125rem;
}

.MuiTableCell-body.MuiTableCell-root {
  font-size: 0.95rem;
}

.MuiContainer-root > #main-content {
  margin-top: 75px;
}

.MuiAppBar-colorPrimary.tweaked {
  color: #7fffd4;
}

.secondary > .MuiAppBar-positionFixed {
  top: 48px;
}

.tweaked > .MuiToolbar-root {
  justify-content: space-between;
  padding: 0 32px;
}

.tweaked .flex {
  display: flex;
  flex: 1 1 auto;
}

.MuiFormLabel-root.Mui-focused:not(.Mui-error) {
  color: #006400 !important;
}

.MuiInput-underline.Mui-focused:after {
  border-bottom: 2px solid #006400;
}

.tweaked > .MuiToolbar-root > .MuiIconButton-root:first-of-type {
  display: none;
}

.MuiPaper-root .MuiTable-root>.MuiTableBody-root>.MuiTableRow-root>td:first-child, .MuiPaper-root .MuiTable-root>.MuiTableHead-root>.MuiTableRow-root>th:first-child {
  display: none;
}

.MuiPaper-root .MuiTable-root>.MuiTableHead-root>.MuiTableRow-root>th:nth-child(2) {
  border-top-left-radius: 10px;
}

